body {
    background-color: #fafafa;
}

.title {
    text-align: center;
}

.login {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 20%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
}