<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - 中航下载服务</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='YYTLZXD.ico') }}" type="image/x-icon">
</head>
<body>
    <h1 style="text-align: center;">404 Not Found</h1>
    <p style="text-align: center;">在服务器上找不到对应请求的 URL。请检查您的拼写，然后重试。</p>
    <p style="text-align: center;">AVIC DOWNFILES | Love comes from YYTLZXD</p>
</body>
</html>