<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>控制面板 - 中航Down</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/15cf07dc69.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Icon"
                    style="width: 40px;height: 40px;border-radius: 100px;">
                <span class="fs-4">&nbsp;中航Down</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="javascript:;" class="nav-link" onclick="logoutFunction()">退出登录</a></li>
            </ul>
        </header>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><i class="fa-solid fa-bars-progress"></i>管理后台
                </li>
            </ol>
        </nav>
        <noscript>
            <div class="alert alert-warning" role="alert">
                中航Down 需要在启用 JavaScript 的浏览器下才能正常运行。
                <br>如果您的浏览器不支持 JavaScript，请使用较新的浏览器打开此页面。
                <br>由此给您带来的诸多不便，开发者深表歉意。
            </div>
            <br>
        </noscript>
        <div class="input-group">
            <input type="file" class="form-control" id="fileInput" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
            <button class="btn btn-outline-secondary" type="button" id="uploadButton" disabled>上传</button>
        </div><br>

        <div class="row">
            {% for file_info in admin_files_info %}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ file_info[0] }}</h5>
                        <p class="card-text">文件大小: {{ file_info[1] }}<br>最后修改时间: {{ file_info[2] }}<br>下载次数: {{ file_info[3] }}</p>
                        <a href="../download/{{ file_info[0] }}" class="btn btn-primary">下载</a>
                        <a href="../delete/{{ file_info[0] }}" class="btn btn-danger">彻底删除</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>